In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 
import sys
import warnings

if not sys.warnoptions:
    warnings.simplefilter("ignore")
    
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory
_dir_ = '../input/'

import os
# print(os.listdir(_dir_))

# Any results you write to the current directory are saved as output.

all_stocks = pd.read_csv(_dir_+'all_stocks_5yr.csv')

# printing information of csv files
print(all_stocks.info())

all_stocks = all_stocks

all_stocks

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 619040 entries, 0 to 619039
Data columns (total 7 columns):
date      619040 non-null object
open      619029 non-null float64
high      619032 non-null float64
low       619032 non-null float64
close     619040 non-null float64
volume    619040 non-null int64
Name      619040 non-null object
dtypes: float64(4), int64(1), object(2)
memory usage: 33.1+ MB
None

              date   open     high      low  close    volume Name
0       2013-02-08  15.07  15.1200  14.6300  14.75   8407500  AAL
1       2013-02-11  14.89  15.0100  14.2600  14.46   8882000  AAL
2       2013-02-12  14.45  14.5100  14.1000  14.27   8126000  AAL
3       2013-02-13  14.30  14.9400  14.2500  14.66  10259500  AAL
4       2013-02-14  14.94  14.9600  13.1600  13.99  31879900  AAL
5       2013-02-15  13.93  14.6100  13.9300  14.50  15628000  AAL
6       2013-02-19  14.33  14.5600  14.0800  14.26  11354400  AAL
7       2013-02-20  14.17  14.2600  13.1500  13.33  14725200  AAL
8       2013-02-21  13.62  13.9500  12.9000  13.37  11922100  AAL
9       2013-02-22  13.57  13.6000  13.2100  13.57   6071400  AAL
10      2013-02-25  13.60  13.7600  13.0000  13.02   7186400  AAL
11      2013-02-26  13.14  13.4200  12.7000  13.26   9419000  AAL
12      2013-02-27  13.28  13.6200  13.1800  13.41   7390500  AAL
13      2013-02-28  13.49  13.6300  13.3900  13.43   6143600  AAL
14      2013-03-01  13.37  13.9500  13.3200  13.61   7376800  AAL
15      2013-03-04  13.50  14.0700  13.4700  13.90   8174800  AAL
16      2013-03-05  14.01  14.0500  13.7100  14.05   7676100  AAL
17      2013-03-06  14.52  14.6800  14.2500  14.57  13243200  AAL
18      2013-03-07  14.70  14.9300  14.5000  14.82   9125300  AAL
19      2013-03-08  14.99  15.2000  14.8400  14.92  10593700  AAL
20      2013-03-11  14.85  15.1500  14.7100  15.13   6961800  AAL
21      2013-03-12  15.14  15.6000  14.9500  15.50   8999100  AAL
22      2013-03-13  15.54  16.2000  15.4800  15.91  11380000  AAL
23      2013-03-14  15.98  16.3600  15.9300  16.25   8383300  AAL
24      2013-03-15  16.45  16.5400  15.8800  15.98  17667700  AAL
25      2013-03-18  15.80  16.3300  15.7100  16.29   6514100  AAL
26      2013-03-19  16.48  16.8500  16.4100  16.78  11805300  AAL
27      2013-03-20  17.13  17.3300  16.8700  17.23  10819800  AAL
28      2013-03-21  17.21  17.4300  16.8700  17.00  10740800  AAL
29      2013-03-22  17.10  17.2900  16.7700  16.86   8545200  AAL
...            ...    ...      ...      ...    ...       ...  ...
619010  2017-12-26  72.40  72.5500  71.9000  72.34    792134  ZTS
619011  2017-12-27  72.59  72.6900  72.2500  72.45   1159771  ZTS
619012  2017-12-28  72.49  72.6000  72.1400  72.39    710499  ZTS
619013  2017-12-29  72.55  72.7600  72.0400  72.04   1704122  ZTS
619014  2018-01-02  72.54  72.5900  71.4650  71.77   2135564  ZTS
619015  2018-01-03  71.77  72.1800  71.3400  72.10   2328506  ZTS
619016  2018-01-04  72.75  72.9128  72.2600  72.53   2534010  ZTS
619017  2018-01-05  72.83  73.9200  72.5700  73.36   2166065  ZTS
619018  2018-01-08  73.43  74.4200  73.1607  74.24   3631552  ZTS
619019  2018-01-09  74.70  75.4750  74.4650  75.11   2721946  ZTS
619020  2018-01-10  74.58  74.8000  73.2800  73.91   2257464  ZTS
619021  2018-01-11  74.05  74.6800  73.7200  74.59   1629279  ZTS
619022  2018-01-12  74.91  75.6900  74.7700  75.39   1915669  ZTS
619023  2018-01-16  76.06  76.4000  75.2100  75.54   2599094  ZTS
619024  2018-01-17  75.81  77.0300  75.3900  76.77   2769587  ZTS
619025  2018-01-18  76.65  76.6500  75.8500  76.33   2588995  ZTS
619026  2018-01-19  76.69  76.9100  76.2200  76.62   4829602  ZTS
619027  2018-01-22  76.67  77.5800  76.6200  77.48   4195103  ZTS
619028  2018-01-23  77.30  78.3200  76.9700  77.59   2264132  ZTS
619029  2018-01-24  78.16  78.5100  77.6000  78.33   2585326  ZTS
619030  2018-01-25  78.47  79.3800  78.3450  79.25   2327262  ZTS
619031  2018-01-26  79.49  80.1300  79.3800  80.09   2532808  ZTS
619032  2018-01-29  79.81  79.9500  79.1100  79.18   2662383  ZTS
619033  2018-01-30  78.44  78.6900  77.9100  78.35   3808707  ZTS
619034  2018-01-31  78.49  78.7700  76.5400  76.73   4136360  ZTS
619035  2018-02-01  76.84  78.2700  76.6900  77.82   2982259  ZTS
619036  2018-02-02  77.53  78.1200  76.7300  76.78   2595187  ZTS
619037  2018-02-05  76.64  76.9200  73.1800  73.83   2962031  ZTS
619038  2018-02-06  72.74  74.5600  72.1300  73.27   4924323  ZTS
619039  2018-02-07  72.70  75.0000  72.6900  73.86   4534912  ZTS

[619040 rows x 7 columns]

In [2]:
# cleaning data

# filling null values with most repeated
all_stocks['open'] = all_stocks['open'].fillna(all_stocks['open'].value_counts().index[0]).astype(float)
all_stocks['high'] = all_stocks['high'].fillna(all_stocks['high'].value_counts().index[0]).astype(float)
all_stocks['low'] = all_stocks['low'].fillna(all_stocks['low'].value_counts().index[0]).astype(float)
all_stocks['close'] = all_stocks['close'].fillna(all_stocks['close'].value_counts().index[0]).astype(float)

# setting date to year and month from date column
all_stocks['Year'] = all_stocks["date"].str.split("-", n = 2, expand = True)[0].astype(int)
all_stocks['Month'] = all_stocks["date"].str.split("-", n = 2, expand = True)[1].astype(int)
all_stocks = all_stocks.drop('date',axis=1)

all_stocks

         open     high      low  close    volume Name  Year  Month
0       15.07  15.1200  14.6300  14.75   8407500  AAL  2013      2
1       14.89  15.0100  14.2600  14.46   8882000  AAL  2013      2
2       14.45  14.5100  14.1000  14.27   8126000  AAL  2013      2
3       14.30  14.9400  14.2500  14.66  10259500  AAL  2013      2
4       14.94  14.9600  13.1600  13.99  31879900  AAL  2013      2
5       13.93  14.6100  13.9300  14.50  15628000  AAL  2013      2
6       14.33  14.5600  14.0800  14.26  11354400  AAL  2013      2
7       14.17  14.2600  13.1500  13.33  14725200  AAL  2013      2
8       13.62  13.9500  12.9000  13.37  11922100  AAL  2013      2
9       13.57  13.6000  13.2100  13.57   6071400  AAL  2013      2
10      13.60  13.7600  13.0000  13.02   7186400  AAL  2013      2
11      13.14  13.4200  12.7000  13.26   9419000  AAL  2013      2
12      13.28  13.6200  13.1800  13.41   7390500  AAL  2013      2
13      13.49  13.6300  13.3900  13.43   6143600  AAL  2013      2
14      13.37  13.9500  13.3200  13.61   7376800  AAL  2013      3
15      13.50  14.0700  13.4700  13.90   8174800  AAL  2013      3
16      14.01  14.0500  13.7100  14.05   7676100  AAL  2013      3
17      14.52  14.6800  14.2500  14.57  13243200  AAL  2013      3
18      14.70  14.9300  14.5000  14.82   9125300  AAL  2013      3
19      14.99  15.2000  14.8400  14.92  10593700  AAL  2013      3
20      14.85  15.1500  14.7100  15.13   6961800  AAL  2013      3
21      15.14  15.6000  14.9500  15.50   8999100  AAL  2013      3
22      15.54  16.2000  15.4800  15.91  11380000  AAL  2013      3
23      15.98  16.3600  15.9300  16.25   8383300  AAL  2013      3
24      16.45  16.5400  15.8800  15.98  17667700  AAL  2013      3
25      15.80  16.3300  15.7100  16.29   6514100  AAL  2013      3
26      16.48  16.8500  16.4100  16.78  11805300  AAL  2013      3
27      17.13  17.3300  16.8700  17.23  10819800  AAL  2013      3
28      17.21  17.4300  16.8700  17.00  10740800  AAL  2013      3
29      17.10  17.2900  16.7700  16.86   8545200  AAL  2013      3
...       ...      ...      ...    ...       ...  ...   ...    ...
619010  72.40  72.5500  71.9000  72.34    792134  ZTS  2017     12
619011  72.59  72.6900  72.2500  72.45   1159771  ZTS  2017     12
619012  72.49  72.6000  72.1400  72.39    710499  ZTS  2017     12
619013  72.55  72.7600  72.0400  72.04   1704122  ZTS  2017     12
619014  72.54  72.5900  71.4650  71.77   2135564  ZTS  2018      1
619015  71.77  72.1800  71.3400  72.10   2328506  ZTS  2018      1
619016  72.75  72.9128  72.2600  72.53   2534010  ZTS  2018      1
619017  72.83  73.9200  72.5700  73.36   2166065  ZTS  2018      1
619018  73.43  74.4200  73.1607  74.24   3631552  ZTS  2018      1
619019  74.70  75.4750  74.4650  75.11   2721946  ZTS  2018      1
619020  74.58  74.8000  73.2800  73.91   2257464  ZTS  2018      1
619021  74.05  74.6800  73.7200  74.59   1629279  ZTS  2018      1
619022  74.91  75.6900  74.7700  75.39   1915669  ZTS  2018      1
619023  76.06  76.4000  75.2100  75.54   2599094  ZTS  2018      1
619024  75.81  77.0300  75.3900  76.77   2769587  ZTS  2018      1
619025  76.65  76.6500  75.8500  76.33   2588995  ZTS  2018      1
619026  76.69  76.9100  76.2200  76.62   4829602  ZTS  2018      1
619027  76.67  77.5800  76.6200  77.48   4195103  ZTS  2018      1
619028  77.30  78.3200  76.9700  77.59   2264132  ZTS  2018      1
619029  78.16  78.5100  77.6000  78.33   2585326  ZTS  2018      1
619030  78.47  79.3800  78.3450  79.25   2327262  ZTS  2018      1
619031  79.49  80.1300  79.3800  80.09   2532808  ZTS  2018      1
619032  79.81  79.9500  79.1100  79.18   2662383  ZTS  2018      1
619033  78.44  78.6900  77.9100  78.35   3808707  ZTS  2018      1
619034  78.49  78.7700  76.5400  76.73   4136360  ZTS  2018      1
619035  76.84  78.2700  76.6900  77.82   2982259  ZTS  2018      2
619036  77.53  78.1200  76.7300  76.78   2595187  ZTS  2018      2
619037  76.64  76.9200  73.1800  73.83   2962031  ZTS  2018      2
619038  72.74  74.5600  72.1300  73.27   4924323  ZTS  2018      2
619039  72.70  75.0000  72.6900  73.86   4534912  ZTS  2018      2

[619040 rows x 8 columns]

In [3]:
from sklearn import model_selection,metrics,preprocessing
from sklearn import naive_bayes,ensemble
preprocess = preprocessing.LabelEncoder()
def model(data,category=0,month=0):
    X = data.drop(['close'],axis=1)
#     print(X)
    y = preprocess.transform(data['close'])

    # Create Navie Bayes Model
    nb = naive_bayes.GaussianNB()
    nbmodel = nb.fit(X, y)

    # Create Random Forest Model
    rf = ensemble.RandomForestRegressor()  
    rfmodel = rf.fit(X, data['close'])
    
    return {'model':{'nb':nbmodel,'rf':rfmodel},'Name':category,'Month':month}

def predict(model,test):
    print(test)
    return {'Navie Bayes':model['nb'].predict(test),'Random Forest':model['rf'].predict(test)}

In [4]:

preprocess.fit(all_stocks['close'])
def groupByMonth(i):
    # i will have rows of particular month
    x = model(i.drop(['Name','Year','volume'],axis=1),i.Name.iloc[0],i.Month.iloc[0])
    return x
def groupByName(i):
    # i will have rows of particular company
    x = i.groupby(i['Month']).apply(groupByMonth)
    return x

output = all_stocks.groupby(all_stocks['Name']).apply(groupByName)

# output.to_csv("submission.csv", index="False")
output

Name  Month
A     1        {'model': {'nb': GaussianNB(priors=None, var_s...
      2        {'model': {'nb': GaussianNB(priors=None, var_s...
      3        {'model': {'nb': GaussianNB(priors=None, var_s...
      4        {'model': {'nb': GaussianNB(priors=None, var_s...
      5        {'model': {'nb': GaussianNB(priors=None, var_s...
      6        {'model': {'nb': GaussianNB(priors=None, var_s...
      7        {'model': {'nb': GaussianNB(priors=None, var_s...
      8        {'model': {'nb': GaussianNB(priors=None, var_s...
      9        {'model': {'nb': GaussianNB(priors=None, var_s...
      10       {'model': {'nb': GaussianNB(priors=None, var_s...
      11       {'model': {'nb': GaussianNB(priors=None, var_s...
      12       {'model': {'nb': GaussianNB(priors=None, var_s...
AAL   1        {'model': {'nb': GaussianNB(priors=None, var_s...
      2        {'model': {'nb': GaussianNB(priors=None, var_s...
      3        {'model': {'nb': GaussianNB(priors=None, var_s...
      4        {'model': {'nb': GaussianNB(priors=None, var_s...
      5        {'model': {'nb': GaussianNB(priors=None, var_s...
      6        {'model': {'nb': GaussianNB(priors=None, var_s...
      7        {'model': {'nb': GaussianNB(priors=None, var_s...
      8        {'model': {'nb': GaussianNB(priors=None, var_s...
      9        {'model': {'nb': GaussianNB(priors=None, var_s...
      10       {'model': {'nb': GaussianNB(priors=None, var_s...
      11       {'model': {'nb': GaussianNB(priors=None, var_s...
      12       {'model': {'nb': GaussianNB(priors=None, var_s...
AAP   1        {'model': {'nb': GaussianNB(priors=None, var_s...
      2        {'model': {'nb': GaussianNB(priors=None, var_s...
      3        {'model': {'nb': GaussianNB(priors=None, var_s...
      4        {'model': {'nb': GaussianNB(priors=None, var_s...
      5        {'model': {'nb': GaussianNB(priors=None, var_s...
      6        {'model': {'nb': GaussianNB(priors=None, var_s...
                                     ...
ZBH   7        {'model': {'nb': GaussianNB(priors=None, var_s...
      8        {'model': {'nb': GaussianNB(priors=None, var_s...
      9        {'model': {'nb': GaussianNB(priors=None, var_s...
      10       {'model': {'nb': GaussianNB(priors=None, var_s...
      11       {'model': {'nb': GaussianNB(priors=None, var_s...
      12       {'model': {'nb': GaussianNB(priors=None, var_s...
ZION  1        {'model': {'nb': GaussianNB(priors=None, var_s...
      2        {'model': {'nb': GaussianNB(priors=None, var_s...
      3        {'model': {'nb': GaussianNB(priors=None, var_s...
      4        {'model': {'nb': GaussianNB(priors=None, var_s...
      5        {'model': {'nb': GaussianNB(priors=None, var_s...
      6        {'model': {'nb': GaussianNB(priors=None, var_s...
      7        {'model': {'nb': GaussianNB(priors=None, var_s...
      8        {'model': {'nb': GaussianNB(priors=None, var_s...
      9        {'model': {'nb': GaussianNB(priors=None, var_s...
      10       {'model': {'nb': GaussianNB(priors=None, var_s...
      11       {'model': {'nb': GaussianNB(priors=None, var_s...
      12       {'model': {'nb': GaussianNB(priors=None, var_s...
ZTS   1        {'model': {'nb': GaussianNB(priors=None, var_s...
      2        {'model': {'nb': GaussianNB(priors=None, var_s...
      3        {'model': {'nb': GaussianNB(priors=None, var_s...
      4        {'model': {'nb': GaussianNB(priors=None, var_s...
      5        {'model': {'nb': GaussianNB(priors=None, var_s...
      6        {'model': {'nb': GaussianNB(priors=None, var_s...
      7        {'model': {'nb': GaussianNB(priors=None, var_s...
      8        {'model': {'nb': GaussianNB(priors=None, var_s...
      9        {'model': {'nb': GaussianNB(priors=None, var_s...
      10       {'model': {'nb': GaussianNB(priors=None, var_s...
      11       {'model': {'nb': GaussianNB(priors=None, var_s...
      12       {'model': {'nb': GaussianNB(priors=None, var_s...
Length: 6036, dtype: object

In [5]:
test = [[43.45,43.57,42.97,42.98,'','AIG',2019,3]]
test = [[189.83,190.08,188.54,189.95,'','AAPL',2019,3]]
df = pd.DataFrame(test,columns=['open','high','low','close','volume','Name','Year','Month'])
print(df)

     open    high     low   close volume  Name  Year  Month
0  189.83  190.08  188.54  189.95         AAPL  2019      3

In [6]:
x = (output.index.tolist()).index((df['Name'][0],int(df['Month'][0])))

array = output.iloc[x]

print(array)

value = predict(array['model'],df.drop(['Name','Year','volume','close'],axis=1))
print('\nNavie Bayes:',preprocess.inverse_transform(value['Navie Bayes'])[0],' Random Forest:',value['Random Forest'][0])

{'model': {'nb': GaussianNB(priors=None, var_smoothing=1e-09), 'rf': RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)}, 'Name': 'AAPL', 'Month': 3}
     open    high     low  Month
0  189.83  190.08  188.54      3

Navie Bayes: 64.5828  Random Forest: 143.94100000000003